.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}



/* Додайте цей CSS до вашого існуючого або створіть новий файл стилів */
html {
  max-width: 1190px;
  margin-left: 20px;
  margin-right: 20px;

  align-items: center;
  justify-content: center;
}

body {}

section .gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}



section .gallery-item {
  /* flex: 0 0 calc(33.33% - 20px); */
  /* Розташуйте малі зображення горизонтально по три в рядку */
  margin: 10px;

  /* Фіксована ширина малого зображення */
}

@media (max-width: 1044px) {
  section .gallery-item {
    max-width: calc(50% - 20px);
    /* Зменште ширину для екранів менше 1024px */
  }
}

@media (max-width: 767px) {
  section .gallery-item {
    max-width: calc(100% - 20px);
    /* Зменште ширину для екранів менше 767px */
  }
}
